<a href="https://colab.research.google.com/github/thonguyen241206/DAP391m/blob/main/01_Data_preparatio_EX1_1%2B1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving titanic.csv to titanic.csv

In [7]:
titanic = pd.read_csv("titanic.csv")
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  1309 non-null   int64
 1   pclass        1309 non-null   int64
 2   survived      1309 non-null   int64
 3   name          1309 non-null   object
 4   sex           1309 non-null   int64
 5   age           1046 non-null   float64
 6   sibsp         1309 non-null   int64
 7   parch         1309 non-null   int64
 8   ticket        1309 non-null   object
 9   fare          1308 non-null   float64
 10  cabin         295 non-null    object
 11  embarked      1307 non-null   object
 12  boat          486 non-null    object
 13  body          121 non-null    float64
 14  home.dest     745 non-null    object
dtypes: float64(3), int64(6), object(6)
memory usage: 153.5+ KB

In [4]:
pd.set_option("display.max_columns",50)
titanic.head()

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,1,"Allen, Miss. Elisabeth Walton",1,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,2,1,1,"Allison, Master. Hudson Trevor",0,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1,0,"Allison, Miss. Helen Loraine",1,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1,0,"Allison, Mr. Hudson Joshua Creighton",0,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",1,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [6]:
titanic = pd.read_csv("titanic.csv", dtype={"HHID":str})
titanic.dtypes

passenger_id      int64
pclass            int64
survived          int64
name             object
sex               int64
age             float64
sibsp             int64
parch             int64
ticket           object
fare            float64
cabin            object
embarked         object
boat             object
body            float64
home.dest        object
dtype: object

In [45]:
import pandas as pd
titanic = pd.read_csv("titanic.csv")
#1
embarked_map = {
    'C': 'Cherbourg',
    'Q': 'Queenstown',
    'S': 'Southampton'}
titanic['embarked'] = titanic['embarked'].map(embarked_map).astype('category')
print(titanic.embarked.unique())
print(titanic.embarked.value_counts())
#2
sex_map = {
    0: 'Male',
    1: 'Female'}
titanic['sex'] = titanic['sex'].map(sex_map).astype('category')
print(titanic.sex.unique())
print(titanic.sex.value_counts())
#3
survived_map = {
    0: 'No',
    1: 'Yes'}
titanic['survived'] = titanic['survived'].map(survived_map).astype('category')
print("Survived conversion complete:")
print(titanic.survived.unique())
print(titanic.survived.value_counts())
print("-" * 30)

#4
pclass_map = {
    1: '1st',
    2: '2nd',
    3: '3rd'}
titanic['pclass'] = titanic['pclass'].map(pclass_map)
pclass_type = pd.CategoricalDtype(categories=['1st', '2nd', '3rd'], ordered=True)
titanic['pclass'] = titanic['pclass'].astype(pclass_type)

display(titanic.head())
print(titanic.pclass.unique())
print(titanic.pclass.value_counts())
# Check the order of pclass as requested
print("So s√°nh: '1st' < '3rd'", titanic['pclass'].iloc[0] < '3rd')

['Southampton', 'Cherbourg', NaN, 'Queenstown']
Categories (3, object): ['Cherbourg', 'Queenstown', 'Southampton']
embarked
Southampton    914
Cherbourg      270
Queenstown     123
Name: count, dtype: int64
['Female', 'Male']
Categories (2, object): ['Female', 'Male']
sex
Male      843
Female    466
Name: count, dtype: int64
Survived conversion complete:
['Yes', 'No']
Categories (2, object): ['No', 'Yes']
survived
No     809
Yes    500
Name: count, dtype: int64
------------------------------

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1st,Yes,"Allen, Miss. Elisabeth Walton",Female,29.0000,0,0,24160,211.3375,B5,Southampton,2,NaN,"St Louis, MO"
1,2,1st,Yes,"Allison, Master. Hudson Trevor",Male,0.9167,1,2,113781,151.5500,C22 C26,Southampton,11,NaN,"Montreal, PQ / Chesterville, ON"
2,3,1st,No,"Allison, Miss. Helen Loraine",Female,2.0000,1,2,113781,151.5500,C22 C26,Southampton,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,4,1st,No,"Allison, Mr. Hudson Joshua Creighton",Male,30.0000,1,2,113781,151.5500,C22 C26,Southampton,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,5,1st,No,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",Female,25.0000,1,2,113781,151.5500,C22 C26,Southampton,NaN,NaN,"Montreal, PQ / Chesterville, ON"

['1st', '2nd', '3rd']
Categories (3, object): ['1st' < '2nd' < '3rd']
pclass
3rd    709
1st    323
2nd    277
Name: count, dtype: int64
So s√°nh: '1st' < '3rd' True